@{
    ViewData["Title"] = "Home Page";
}

<h2>Instructions</h2>
For this portion of the interview, you will work through a series of coding exercises.
<br />
Each exercise can be found on the navbar as Problem Set 1-4
<br />
To view the instructions for the exercise, go to the <b>Controllers\ProblemSetController.cs</b> file and read the instructions at the top of each method.

<br />
<br />
<h3>Notes</h3>
<ul>
    <li>Use all your available resources.  Google is allowed.</li>
    <li>If you get stuck, ask for help.</li>
    <li>Each problem set has a corresponding Action, View, and Model.</li>
</ul>

