@model ProblemSetFourViewModel
@{
    ViewData["Title"] = "Problem Set Four";
}

<h1>@ViewData["Title"]</h1>
<hr/>

<p>
    api.weather.gov will allow you to pull in a detailed weather forecast.
    Documentation can be found here: <a href="https://www.weather.gov/documentation/services-web-api">https://www.weather.gov/documentation/services-web-api</a>
    <ol>
        <li>
            Make an api call to get the weather info for Denver.
        </li>
        <li>
            Pass this data to the front end using model.Forecast
        </li>
    </ol>

    API Call: https://api.weather.gov/gridpoints/BOU/62,61/forecast
</p>

<h3>Weather Forecast</h3>

<div class="row">
    
</div>