@model ProblemSetTwoViewModel
@{
    ViewData["Title"] = "Problem Set Two";
}

<h1>@ViewData["Title"]</h1>

<hr />

<p>
    <input type="text" id="first" />
    <input type="text" id="second" />"
    <input type="submit" id="submit" value="Add" />
    <div id="answer"></div>
</p>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#submit').click(function () {
            var first = parseInt($('#first').val());
            var second = parseInt($('#second').val());
            $('#answer').html(first + second);          
        });
    });
</script>
