@model ProblemSetTwoViewModel
@{
    ViewData["Title"] = "Problem Set Two";
}

<h1>@ViewData["Title"]</h1>

<hr />

<p>Add some numbers</p>

<form method="post">
    <input asp-for="NumOne" />
    <input asp-for="NumTwo" />

    <input type="submit" />
</form>

<div>@Model.Sum</div>

