@model ProblemSetTwoViewModel
@{
    ViewData["Title"] = "Problem Set Two";
}

<h1>@ViewData["Title"]</h1>

<hr/>

<p>
    Add a form with two inputs. Clicking the submit button should display the sum of the two numbers.
</p>

